@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa&family=Poppins&display=swap');

$font:'Poppins', sans-serif;
$fontTwo: 'Tangerine', cursive;
$fontThree: 'Roboto', sans-serif;
$smallScreen:1024px;
$largeScreen:1200px;